* {
  color: rgb(176, 176, 177);
}
body {
  background-color:#282828
}
article {
  text-align: center;
}
svg {
  min-width: 0;
}
.col8 {
  flex: 8;
}
.col4 {
  flex: 4;
}
.col6 {
  flex: 6;
}
.big-font {
  font-size: 1.5rem;
}
.vert-cont {
  flex-direction: column;
  /*align-items: center;*/
}
.comment {
  font-size: 0.9rem;
  padding: 10px;
  background-color: rgb(60, 60, 60)
}
.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.half {
  width: 50%;
  height: 50%;
}
.card {
  border-radius: 5px;
  background-color: rgb(51, 51, 51);
  padding: 20px;
  margin: 20px;
}
.no-shrink {
  flex-shrink: 0;
}
.form-user {
  width: 100%;
  height: 100%;
}

input, select, textarea {
  resize: none;
  background-color:#070016;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(206, 116, 58);
}

textarea.wide {
  min-height: 6rem;
}

input[type=submit], button {
  display: block;
    background-color: rgb(58, 58, 65);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: rgb(63, 63, 70);
}