* {
  color: var(--main-color);
  font-family: Courier New, Courier, monospace;
}
body {
  --background-color: #232B2B;
  --main-color: #30ff30;
  --secondary-color: #DC3D24;
  --datail-color: #304040;

  background-color: var(--background-color);
}
article {
  text-align: center;
}
svg {
  min-width: 0;
}
.col8 {
  flex: 8;
}
.col4 {
  flex: 4;
}
.col6 {
  flex: 6;
}
.big-font {
  font-size: 1.5rem;
}
.vert-cont {
  flex-direction: column;
  /*align-items: center;*/
}
button.alert {
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: bold;
}
.navbar {
  display: flex;
  flex-direction: row;
}
.navbar * {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: var(--datail-color);
}
.comment {
  font-size: 0.9rem;
  padding: 10px;
  background-color: var(--datail-color)
}
.container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.half {
  width: 50%;
  height: 50%;
}
.card {
  border-radius: 5px;
  background-color: var(--datail-color);
  padding: 20px;
  margin: 20px;
}
.no-shrink {
  flex-shrink: 0;
}
.form-user {
  width: 100%;
  height: 100%;
}

input, select, textarea {
  resize: none;
  background-color:var(--background-color);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--main-color);
}

textarea.wide {
  min-height: 6rem;
}

input[type=submit], button {
  display: block;
    background-color: var(--background-color);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    background-color: var(--secondary-color);
}